@model LibraryModels.News
@{
    ViewData["Title"] = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="post-entry">
                    <div class="text p-4">
                        <h2 class="h3 text-black">@Model.Title</h2>
                        <span class="text-uppercase date d-block mb-3"><small>@Model.PublishDate</small></span>
                        <div class="content">
                            @Html.Raw(Model.Content)
                        </div>
                        <form asp-action="AddComment" asp-controller="News" method="post">
                            <h3></h3>
                            <input asp-for="@Model.ID" type="hidden" name="mewId" />
                            <div class="form-group">
                                <textarea asp-for="@Model.CommentText" class="form-control" rows="3" placeholder="Write your comment here..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Comment</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // JavaScript để kiểm tra tính hợp lệ của biểu mẫu
        (function () {
            'use strict';

            // Lắng nghe sự kiện submit của biểu mẫu
            var form = document.querySelector('.needs-validation');
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        })();
    </script>
}