@model IEnumerable<LibraryModels.QnA>
@{
    ViewData["Title"] = "Index";
    var i = 1;
    Layout = "_BackendLayout";
}

<div class="body-wrapper">
    <!-- Change this content if you need to modify -->
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Q&A Topic</h5>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-@TempData["MessageType"]" role="alert">
                        @TempData["Message"]
                    </div>
                }
                <a class="btn btn-info" asp-action="Create" asp-controller="QnA">Create New Q&A Topic</a>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr class="text-center">
                                <th class="border-bottom-0">
                                    <h4 class="fw-semibold mb-0">#</h4>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@Html.DisplayNameFor(model => model.Title)</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@Html.DisplayNameFor(model => model.Content)</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Action</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0"> @i </h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">@Html.DisplayFor(modelItem => item.Title)</h6>
                                    </td>
                                    <td class="fw-semibold mb-0">
                                        <h6 class="fw-semibold mb-0">@TruncateString(item.Content, 100)</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2" style="justify-content:center">
                                            <form asp-action="Delete" asp-controller="QnA" method="post" enctype="multipart/form-data">
                                                <input type="hidden" value="@item.Id">
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-info" asp-route-id="@item.Id" asp-action="Edit" asp-controller="QnA">
                                                <i class="fa fa-gear"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public string TruncateString(string input, int maxLength)
    {
        if (input.Length <= maxLength)
            return input;
        else
            return input.Substring(0, maxLength) + "...";
    }
}