@model IEnumerable<LibraryModels.Users>
@using WebApp.Services
@using Newtonsoft.Json;
@inject WebApp.Ultils.Helper HelperService


@{
    ViewData["Title"] = "Account User";
    Layout = "_Layout";
    var ids = 1;
    var resJson = TempData["res"] as string;
    var res = resJson != null ? JsonConvert.DeserializeObject<LibraryModels.Response>(resJson) : new LibraryModels.Response() { Msg = "", Success = false };
}

@functions {
    public string GetSortDirection(string? propertySort, string? nameSort, string currentSort, string nameToSort)
    {
        return string.IsNullOrEmpty(propertySort) ? currentSort : (nameSort == nameToSort ? propertySort : currentSort);
    }
}

<div class="container mt-5">
    @if (res != null)
    {
        <div class="alert @(res.Success ==true ?"alert-success":"alert-danger")" @(res.Success == true ? "" : "hidden")>
            <span class="text-black font-weight-bold h1 text-center text-uppercase ">@res.Msg</span>
        </div>
    }
    <form asp-controller="Account" method="post">
        <table class="table table-hover table-responsive table-bordered" id="table_user">
            <thead class=" table-primary">
                <tr class="text-center">
                    <th>Id</th>
                    <th><a asp-route-currentSort="@GetSortDirection(ViewData["propertySort"]?.ToString(),ViewData["nameSort"]?.ToString(),"asc_Email","Email")">Email</a></th>
                    <td><a asp-route-currentSort="@GetSortDirection(ViewData["propertySort"]?.ToString(),ViewData["nameSort"]?.ToString(),"asc_Code","Code")">Code</a></td>
                    <th>Status</th>
                    <th>Role</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="get_data" id="user_@item.Code data-bs-target="#myModal">
                        <td>@ids</td>
                        <td class="text-left">@HelperService.AnEmail(@item.Email, 4)</td>
                        <td id="stu_code">@item.Code</td>
                        <td>@item.Status</td>
                        <td>@item.Role</td>
                        <td name="dont_click" colspan="2" class="text-center">
                            <input type="submit" asp-action="ResetPassword" asp-route-code="@item.Code" value="Reset password" class="btn btn-danger text-white" />
                            <input type="submit" class="btn btn-warning text-white " value="Ban account">
                        </td>
                    </tr>
                    ids++;
                }
            </tbody>
        </table>
    </form>
    @{
        var Totalpage = (int)ViewData["totalPages"];
        var PanigationInfo = Model as WebApp.Ultils.Paginated<LibraryModels.Users>;
    }
    <div>
        <div class="flex w-full items-center justify-content-center align-items-center">
            @if (PanigationInfo.PageIndex > 1)
            {
                <a class="btn btn-primary" asp-route-pageIndex="@(1)">First</a>
                <a class="btn btn-primary" asp-route-pageIndex="@(PanigationInfo.PageIndex -1)">Prev</a>
            }
            @for (int i = 1; i <= Totalpage; i++)
            {
                <a class="btn btn-outline-primary @(PanigationInfo.PageIndex == i ? "active" : string.Empty)" asp-route-pageIndex="@(i)">@(i)</a>
            }

            @if (PanigationInfo.PageIndex < PanigationInfo.TotalPages)
            {
                <a class="btn btn-primary" asp-route-pageIndex="@(PanigationInfo.PageIndex +1)">Next</a>
                <a class="btn btn-primary" asp-route-pageIndex="@(PanigationInfo.TotalPages)">Last</a>
            }
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade modal2" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal1" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Infomation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <p>Username:<span id="username"></span></p>
                                <p>Email:<span id="email"></span></p>
                                <p>Address:<span id="address"></span></p>
                                <p>Phone:<span id="phone"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$(document).ready(function () {
            var user_detail = $(".modal-body")
            var username = $("#username")
            var email = $("#email")
            var shouldOpenModal = true;
            console.log(shouldOpenModal)
            $('.get_data').click(async function () {
                if (!shouldOpenModal) {
                    return;
                }
                // Lấy hàng cha của nút đã nhấp (hàng tr)
                var row = $(this).closest('tr');

                // Lấy dữ liệu từ các ô trong hàng
                var stuCodeTd = row.find('td:eq(2)').text(); // Lấy dữ liệu từ ô thứ hai (cột Tên)

                var modal = $('.modal1');


                // Hiển thị dữ liệu hoặc thực hiện các thao tác khác ở đây
                await $.ajax({
                    type: 'GET',
                    url: `/Account/UserInfo/${stuCodeTd}`,
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res)
                        var Email = data.Email
                        username.text(data.Student_code)
                        email.text(data.Email)
                    },
                    error: err => console.log(err)
                });
                modal.attr('id', stuCodeTd);
                modal.modal('show');
            });
        });
        $("td[name='dont_click']").on("click", function (event) {
            event.stopPropagation(); // Ngăn chặn sự kiện click lan ra các phần tử cha
            shouldOpenModal = false; // Đặt biến cờ thành false
        });</script>
}