@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}
<style>
    body {
        background-image: url('@Url.Content("~/images/aboutus/background3.png")');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div style="text-align: center;">
    <h1 style="color: darkviolet; font-size: 70px;">Welcome to HelpDesk</h1>
</div>

<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pl-md-5 order-md-2">
                <h2 style="color: black;">Introduction </h2>
                <p style="color: black;">Welcome to HelpDesk - Where we put your support first!</p>
            </div>
            <div class="col-md-6 text-center order-md-1">
                <img src="@Url.Content("~/images/aboutus/sumenh.png")" class="centered-image img-fluid" style="width: 500px; height: 400px;">
            </div>
        </div>
    </div>
</div>


<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pl-md-5">
                <h2 style="color: black;">Our mission </h2>
                <p style="color: black;">
                    At HelpDesk, our mission is to provide outstanding customer support
                    solutions for your business. We understand that customer support is an important factor
                    in building and maintaining customer relationships. With the motto "Optimal solutions,
                    perfect support," we are committed to bringing you top tools and services to help you create the best customer experience.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="@Url.Content("~/images/aboutus/Our.png")" class="centered-image img-fluid" style="width: 500px; height: 400px;">
            </div>
        </div>
    </div>
</div>

<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pl-md-5 order-md-2">
                <h2 style="color: black;">Our Team</h2>
                <p style="color: black;">
                    At HelpDesk, we pride ourselves on having a professional and passionate team. We always do our best to ensure that you receive the best support. Our team includes experts
                    in customer support, product development, and engineering, ready to help you solve any challenge.
                </p>
            </div>
            <div class="col-md-6 text-center order-md-1">
                <img src="@Url.Content("~/images/aboutus/ourteam.png")" class="centered-image img-fluid" style="width: 500px; height: 400px;">
            </div>
        </div>
    </div>
</div>



<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pl-md-5 ">
                <h2 style="color: black;">Our Story</h2>
                <p style="color: black;">
                    HelpDesk was founded with dedication and passion for customer support. We believe that providing good support solutions will help your business grow and succeed. We have proven
                    this through successful projects and the satisfaction of thousands of customers around the world.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <img src="@Url.Content("~/images/aboutus/OurStory.png")" class="centered-image img-fluid" style="width: 500px; height: 400px;">
            </div>
        </div>
    </div>
</div>